
*{
    margin: 0;
    padding: 0;
}
.common-color{
    color: rgba(255, 255, 255, 0.5);
}
header{
    background: linear-gradient(180deg, rgb(17, 17, 17),rgba(70, 68, 68, 0.759),rgb(9, 0, 0));
}



nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 90%;
    margin:0 auto;
}
.nav-title{
    font-size: 36px;
    color: orangered;
    font-weight: 800;
}
.nav-button{
    border: 2px  solid white;
    padding: 1px;
    border-radius: 40px;
}
.nav-button button{
    background: none;
    border: none;
    font-size: 18px;
    color: white;
    padding: 8px 20px;
    
}
#hm{
    background-color: orangered;
    border-radius: 40px;
}
.bars{
    display: none;
}
.container-header{
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;

}
.header-content{
    width: 50%;

}


.header-content h1 {
    color: white;
    font-size: 78px;
    font-weight: 900;
    

       
}
.header-content p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 30px;
}
.header-photo{
    width: 50%;
    text-align: end;
}
.header-photo img{
    width: 349px;
    height: 580px;
    text-align: end;
}
.parent{
    position: relative;
}
.red{
    background-color: red;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.red i{
 padding-top: 13px;
}

.child2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: 90px;
    border-radius: 10px;
    background: transparent;
    background-color: rgb(0, 0, 0, 0.234);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 238px;
    bottom: 122px;
}
.child-3{
    color: white;
    text-align: center;
    padding-top: 15px;
    
    width: 180px;
    height: 65px;
    border-radius: 10px;
    background: transparent;
    background-color: rgb(0, 0, 0, 0.234);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 500px;
    bottom: 350px;
}
.header-content button{
    width: 240px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 24px;
    border: 1px solid white;
    border-radius: 42px;
    background: none;

}
#jcn{
    background-color: orangered;
}
main{
    background-color: black;
}
.habit{
    width: 90%;
    margin: 0 auto;
}

.habit-title{
    text-align: center;

}

.habit-title h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    padding-top: 100px;
    margin-bottom: 20px;
}
.habit-title p{
    color: rgba(255, 255, 255, 0.5);
    
}
.habit-image{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 58px;
}
.habit-image1{
    width: 231px;
    text-align: center;

    
}
.habit-image1 img{
    border-radius: 50%;
}
.habit-image1 h3{
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 10px;

}
.miles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #222222;
    border-radius: 18px;

}
.miles-content{
    width: 443px;
    margin-left: 50px;

}
.miles-content h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
}
.miles-content p{
    margin-top: 15px;
    margin-bottom: 35px;

}
.miles-content button{
    color: white;
    font-size: 18px;
    font-weight: 600;
    background-color: orangered;
    padding: 16px 40px;
    border-radius: 42px;
}
/* .run-image {
    width: 50%;
} */
.run-image img{
   width: 366px;
   height: 312px; 
   border-radius: 18px;
   margin: 30px;
}
.bmi-title{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 88px;
}
.bmi-title h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}

.bmi-bag{
    background-color: #222222;
}
.bmi-content{
    padding: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    /* align-items:center; */
    width: 90%;
    margin: 0 auto;


}

.bmi-table{
 width: 50%;
}
.bmi-table h1{
    color: white;
    font-size: 28px;
    font-weight: 900;
}
.bmi-table table{
    border-collapse: collapse;
    margin-top: 52px;
}

.bmi-table th{
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid white ;
    padding: 15px 20px;
}
.bmi-table td{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 500;
    border: 1px solid white ;
    padding: 15px 20px;

}
.calculator{
    width: 50%;
    text-align: start;
}
.calculator h1{
    color: white;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 14px;
    
}
.calculator p{
    margin-top: 15px;
    margin-bottom: 35px;
}
.input-fild {
    

    text-align: start;
    /* padding: 12px 40px; */
    
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 12px;
}

.input-fild input{
    padding: 12px 40px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1) ;
    
    
}
.gender{
    color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}

.Activity-factor{
    color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 100%;
    padding: 12px 40px;
    margin-top: 12px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
}


.calculator button{
    border: none;
    margin-top: 30px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    background: orangered;
}
.all-team{
    padding-bottom: 80px;
}
.team{
    text-align: center;
    margin: 0 auto;
    width: 90%;
    margin-bottom: 58px;

}
.team h1{
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin-top: 88px;
    margin-bottom: 14px;
}
.team-member{
    width: 75%;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: 18px;
    gap: 20px;
}

.tm1{
    position: relative;
}
.img-1 img{
    width: 340px;
    height: 280px;
    border-radius: 18px;
}
.name{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.name h1{
    color: white;
}
footer{
    background: #222222;
}
.footer-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
}
.fitness{
    width: 50%;
}
.fitness h1{
    color: orangered;
    font-size: 70px;
    font-weight: 800;
    
    margin-bottom: 20px;
}
.contact{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.contact h1{
        color: white;
        font-size: 32px;
        font-weight: 700;
    }
    .contact p{
        color: rgba(255, 255, 255, 0.5);
        font-size: 23px;
        font-weight: 400;
        margin-top: 20px;
    }

    hr{
        width: 90%;
        margin: 0 auto;
        
    }

    .last{
        text-align: center;
        margin-top: 50px;
        padding-bottom: 50px;
    }